* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, sans-serif;

  background-image:
    linear-gradient(rgba(10, 5, 20, 0.72), rgba(10, 5, 20, 0.72)),
    url("pozadie.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;


}

